VITE_SUPABASE_URL=https://pgwwdpxtiuqartqqppzr.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBnd3dkcHh0aXVxYXJ0cXFwcHpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5MzQ0NzgsImV4cCI6MjA5OTUxMDQ3OH0.-eoC0O4g3U_lcIjWPqZcXH8CKc0_Ufbemyczg-iq-3o
